.contacts {
  color: white;
  position: absolute;
  right: 0;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 1px;
  &__phone {
    &::before {
      display: block;
      content: "";
      position: relative;
      background-image: url(/src/images/icon_phone.png);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
