@import './utils/reset';
@import './utils/fonts';
@import './contacts.scss';

.wrapper {
  &-container {
    position: relative;
    margin: 0 auto;
    max-width: 1180px;
  }
}

.backgroung {
  height: 975px;
  background-image: url('./images/Slider.png');
  background-size: cover;
  background-position: left;
  position: relative;
}

.logo {
  position: relative;
  top: 40px;
  left: 9px;
}
